<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scorecard</title>
</head>
<body>
    <h1>Scorecard</h1>

    <div class="scorecard">
        <h2>Round *NUMBER*</h2>
        <h4>*TEAM* vs *TEAM*</h4>
        <form action="/hf/calculate" method="POST">
            <p>Did Your Team Go Out First?</p>
            <label for="yes">Yes</label>
            <input type="radio" id="yes" name="outFirst" value="yes">
            <label for="no">No</label>
            <input type="radio" id="no" name="outFirst" value="no">

            <label for="red3s">Red 3's</label>
            <input type="number" id="red3s" name="red3s">

            <label for="red_canastas">Red Canastas</label>
            <input type="number" id="red_canastas" name="red_canastas">

            <label for="black_canastas">Black Canastas</label>
            <input type="number" id="black_canastas" name="black_canastas">

            <label for="wild_canastas">Wild Canastas</label>
            <input type="number" id="wild_canastas" name="wild_canastas">

            <label for="7canastas">Seven Canastas</label>
            <input type="number" id="7canastas" name="7canastas">

            <label for="card_points">Card Points</label>
            <input type="number" id="card_points" name="card_points">

            <label for="penalty_points">Penalty Points</label>
            <input type="number" id="penalty_points" name="penalty_points">

            <input type="submit" value="Calculate!">
        </form>
        <h4>Points for this round : *POINTS*</h4>
        <h2>Total Points: *POINTS*</h2>
    </div>
</body>
</html>